In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('combinedReviews.csv')
df

,skillDevelopment,reviewText,location,cons,salaryBenefits,workLifeBalance,pros,workSatisfaction,postedon,jobSecurity,careerGrowth,companyCulture,company,jobFunction,overallScore,file
0,1.0,Its good and managable only because of team.,Lucknow,Fake offers were given while recruiting. Wrong...,1.0,3.0,Only my collegues and work culture. There is n...,3.0,21-Apr-22,4.0,1.0,4.0,HCL Technologies,Hr Executive,1.0,hcl
1,4.0,Very balanced and rarely pressuring.,Noida,* Although it's WFH as of now but no general t...,2.0,5.0,Overall good experience for me! Very much secu...,4.0,16-Apr-22,5.0,4.0,3.0,HCL Technologies,Technical Lead,4.0,hcl
2,3.0,working hours are 9:30 hours no shift allowanc...,Greater Noida,Management always listen what the manager sayi...,2.0,3.0,Job security is there Client or Customer centr...,1.0,20-Apr-22,4.0,2.0,2.0,HCL Technologies,Senior Specialist,3.0,hcl
3,1.0,Too bad for a mid level experienced. Enquire p...,Chennai,Work culture is too bad and experienced so man...,1.0,2.0,It is a growing organization and has multiple ...,1.0,09-Dec-21,4.0,1.0,1.0,HCL Technologies,Senior Technical Lead,1.0,hcl
4,1.0,Is there anything called work life balance her...,Chennai,Why not paying your employees good!? .Stop ove...,4.0,1.0,"Hcl is avery good organization,But the middle ...",1.0,04-Mar-22,4.0,1.0,1.0,HCL Technologies,Software Engineer,1.0,hcl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97092,4.0,Work at wipro is good and you get opportunitie...,Bengaluru/Bangalore,The band progression opportunities at higher l...,3.0,5.0,Wipro takes care of work life balance and trea...,4.0,07-Mar-22,5.0,3.0,4.0,Wipro,Software Engineering Manager,5.0,wipro
97093,4.0,"The job is interested, struggle a bit in the t...",NaN,There is a lot of politics the manangent doesn...,3.0,4.0,"Good work environment and culture, Job securit...",4.0,21-Apr-22,5.0,4.0,4.0,Wipro,System Administrator for 1.6 years in Gujarat,4.0,wipro
97094,3.0,Don’t know what to tell just want to say recog...,NaN,I made one project success but no benifits for...,1.0,2.0,Right person should get right benifits on time...,3.0,20-Apr-22,2.0,1.0,3.0,Wipro,Senior Accounts Officer for 2 year in Hyderaba...,2.0,wipro
97095,4.0,Interesting and there are lots of learning opp...,NaN,I don't find any dislikes here. I have got a g...,3.0,3.0,"Very clear policies, work culture is excellent...",4.0,03-Feb-22,4.0,4.0,4.0,Wipro,Team Manager for 6.2 years in Bhubaneswar,4.0,wipro
97096,4.0,NaN,Mumbai,Not better hike during annual appraisal even i...,3.0,4.0,Good experience in terms of Internal policy ab...,4.0,15-Mar-22,5.0,4.0,4.0,Wipro,Transition Lead,5.0,wipro

In [3]:
df_exhaustion=df[['workLifeBalance','companyCulture','workSatisfaction']]

In [4]:
df_ex=df_exhaustion.copy()

In [5]:
df_ex['exhaustion']=(0.35*df_exhaustion['workLifeBalance'])+(0.35*df_exhaustion['companyCulture'])+(0.30*df_exhaustion['workSatisfaction'])

In [6]:
df_ex

       workLifeBalance  companyCulture  workSatisfaction  exhaustion
0                  3.0             4.0               3.0        3.35
1                  5.0             3.0               4.0        4.00
2                  3.0             2.0               1.0        2.05
3                  2.0             1.0               1.0        1.35
4                  1.0             1.0               1.0        1.00
...                ...             ...               ...         ...
97092              5.0             4.0               4.0        4.35
97093              4.0             4.0               4.0        4.00
97094              2.0             3.0               3.0        2.65
97095              3.0             4.0               4.0        3.65
97096              4.0             4.0               4.0        4.00

[97097 rows x 4 columns]

In [8]:
##Using z scores for normalization
df_exhaustion['exhaustion_normalized']=(df_ex['exhaustion'] - df_ex['exhaustion'].mean()) / df_ex['exhaustion'].std()

/var/folders/ng/wt_dfdlj1h1bcrnqngjm82v40000gn/T/ipykernel_4637/1350779357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exhaustion['exhaustion_normalized']=(df_ex['exhaustion'] - df_ex['exhaustion'].mean()) / df_ex['exhaustion'].std()

In [15]:
df_exhaustion

,workLifeBalance,companyCulture,workSatisfaction,exhaustion_normalized
0,3.0,4.0,3.0,-0.313184
1,5.0,3.0,4.0,0.247800
2,3.0,2.0,1.0,-1.435152
3,2.0,1.0,1.0,-2.039289
4,1.0,1.0,1.0,-2.341357
...,...,...,...,...
97092,5.0,4.0,4.0,0.549868
97093,4.0,4.0,4.0,0.247800
97094,2.0,3.0,3.0,-0.917321
97095,3.0,4.0,4.0,-0.054268
97096,4.0,4.0,4.0,0.247800

In [10]:
import pandas as pd
import numpy as np

def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

In [17]:
from sklearn.preprocessing import RobustScaler

# create a scaler object
scaler = RobustScaler()
df_robust=df_ex[['exhaustion']].copy()
# fit and transform the data
df_robust = pd.DataFrame(scaler.fit_transform(df_robust), columns=df_robust.columns)

df_robust

       exhaustion
0       -0.382353
1        0.000000
2       -1.147059
3       -1.558824
4       -1.764706
...           ...
97092    0.205882
97093    0.000000
97094   -0.794118
97095   -0.205882
97096    0.000000

[97097 rows x 1 columns]